<div class="container">

  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <a href="/cad-edit-tela/novo"><button class="btn btn-primary">Novo</button></a>
    </div>
  </div>


  <mat-card>
    <mat-card-content style="display: flex;">

      <table mat-table [dataSource]="listagem" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="NOME">
          <th mat-header-cell *matHeaderCellDef> NOME </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CPF">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.cpf}} </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="Acao">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let usuario">
            <a href="/cad-edit-tela/carregar/{{usuario.id}}"><i class="material-icons">edit</i></a>
            <a (click)="remover(usuario.id)"><i class="material-icons">delete_forever</i></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>



  <ng-template #template>
    aaaaaaaaa
  </ng-template>

</div>
